<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GenerationReportFilePath" value="C:\Users\avis_\Downloads\Code Challenge\Code Challenge\GenerationReport.xml"/>
    <add key="GenerationOutputFilePath" value="C:\Users\avis_\Downloads\Code Challenge\Code Challenge\GenerationOutput.xml"/>
    <add key="ReferenceDataFilePath" value="C:\Users\avis_\Downloads\Code Challenge\Code Challenge\ReferenceData.xml"/>
  </appSettings>
</configuration>